-- Lock Database
UPDATE APP_PYME.DATABASECHANGELOGLOCK SET LOCKED = 1, LOCKEDBY = 'IGN (192.168.1.81)', LOCKGRANTED = SYSTIMESTAMP WHERE ID = 1 AND LOCKED = 0;

-- *********************************************************************
-- Update Database Script
-- *********************************************************************
-- Change Log: liquibase/changelog-master.xml
-- Ran at: 18-08-25, 10:11ÔÇ»p.┬ám.
-- Against: APP_PYME@jdbc:oracle:thin:@//localhost:1521/XEPDB1
-- Liquibase version: 4.33.0
-- *********************************************************************

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:9e5bb5fbcf73efe563af12e4edc3d700' WHERE ID = '001-tables' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:100639ce64cd2b92faef98152777812b' WHERE ID = '002-constraints' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:c8bf6b585ab2c9839d997e2c42c61010' WHERE ID = '003-indexes' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:378a28041927c6a1a0c08890eeeec77b' WHERE ID = '004-views' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:710f6222efd548f4bd8820c3c9ea5332' WHERE ID = '005-seed' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:539bc4e6845ef4590c4d68203373e79c' WHERE ID = '006-triggers' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:004b3fde9e8826c9a2ac5507ed6b24c8' WHERE ID = '007-ext-tables' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:40bd5285b44ec2acd9a05e705aa5795f' WHERE ID = '008-sucursal' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:c8644a51567c69434f11217451e85411' WHERE ID = '012-rut-chile' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:03ba540babd0276058667a32e0d26fcd' WHERE ID = '013-export-csv' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog-master.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:b2d763b5b24573a4cb1c6a967c6202cb' WHERE ID = '013-export-dir' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/013-export-dir.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:b79d005a0e441563d97a8c249d5d34fc' WHERE ID = '014-mv-kpis' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/014-mv-kpis.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:e370a3439cb99863064f074eec7fbd30' WHERE ID = '015-scheduler-kpis' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/015-scheduler-kpis.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:f72df29a67515064b5b976937c0c2fee' WHERE ID = '016-export-procs' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/016-export-procs.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:4e6695c4943e93a7cb8fefb5baaf6baf' WHERE ID = '017-views-kpi' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/017-views-kpi.xml';

UPDATE APP_PYME.DATABASECHANGELOG SET MD5SUM = '9:b6588fcd5a516aa294a55b1e1947bfab' WHERE ID = '018-scheduler-export' AND AUTHOR = 'sgbd' AND FILENAME = 'liquibase/changelog/018-scheduler-export.xml';

-- Changeset liquibase/changelog/019-indexes-perf.xml::019-indexes-perf::sgbd
-- 19_indexes_perf.sql (idempotente, un solo bloque)

DECLARE
  PROCEDURE try_create(p_sql IN VARCHAR2) IS
  BEGIN
    EXECUTE IMMEDIATE p_sql;
  EXCEPTION
    WHEN OTHERS THEN
      -- -955: name is already used by an existing object
      -- -1408: already an index on these columns
      IF SQLCODE NOT IN (-955, -1408) THEN
        RAISE;
      END IF;

END;

BEGIN
  try_create('CREATE INDEX ix_boleta_venta__estado_fecha ON boleta_venta(estado, fecha)');
  try_create('CREATE INDEX ix_bv_detalle__id_producto ON boleta_venta_detalle(id_producto)');
  try_create('CREATE INDEX ix_producto__sku ON producto(sku)');
END;

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('019-indexes-perf', 'sgbd', 'liquibase/changelog/019-indexes-perf.xml', SYSTIMESTAMP, 20, '9:806b221a65b8e0c32009f1cc8e76b76e', 'sqlFile path=../../ddl/19_indexes_perf.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/020-monitoring.xml::020-monitoring::sgbd
-- SET PAGESIZE 200 LINESIZE 200
-- COLUMN job_name FORMAT A30
-- COLUMN state FORMAT A12
-- COLUMN last_start_date FORMAT A19
-- COLUMN next_run_date FORMAT A19

-- PROMPT === USER_SCHEDULER_JOBS ===
SELECT job_name,
       state,
       TO_CHAR(last_start_date,'YYYY-MM-DD HH24:MI') last_start_date,
       TO_CHAR(next_run_date,'YYYY-MM-DD HH24:MI') next_run_date
FROM user_scheduler_jobs
ORDER BY job_name;

-- PROMPT === USER_SCHEDULER_JOB_RUN_DETAILS (├║ltimos 20) ===
SELECT * FROM (
  SELECT job_name,
         status,
         TO_CHAR(log_date,'YYYY-MM-DD HH24:MI') log_date,
         error#,
         additional_info
  FROM user_scheduler_job_run_details
  ORDER BY log_date DESC
) WHERE ROWNUM <= 20;

-- PROMPT === Materialized Views ===
-- COLUMN mview_name FORMAT A30
-- COLUMN staleness FORMAT A15
-- COLUMN last_refresh_date FORMAT A19
SELECT mview_name,
       staleness,
       TO_CHAR(last_refresh_date,'YYYY-MM-DD HH24:MI') last_refresh_date
FROM user_mviews
ORDER BY mview_name;

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('020-monitoring', 'sgbd', 'liquibase/changelog/020-monitoring.xml', SYSTIMESTAMP, 21, '9:f8c1388d3ed856e0fefbebc294bc2a43', 'sqlFile path=../../scripts/check_jobs.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/021-core-ubicaciones-inventario.xml::021-core-ubicaciones-inventario::sgbd
-- Inventario y ubicaciones

CREATE TABLE ubicacion (
  id_ubicacion NUMBER GENERATED BY DEFAULT AS IDENTITY,
  nombre       VARCHAR2(100) NOT NULL,
  tipo         VARCHAR2(20)  NOT NULL CHECK (tipo IN ('BODEGA','LOCAL','CAMIONETA','FAMILIAR')),
  activo       CHAR(1) DEFAULT 'S' NOT NULL CHECK (activo IN ('S','N')),
  CONSTRAINT pk_ubicacion PRIMARY KEY (id_ubicacion),
  CONSTRAINT uq_ubicacion__nombre UNIQUE (nombre)
);

CREATE TABLE stock_ubicacion (
  id_ubicacion NUMBER NOT NULL,
  id_producto  NUMBER NOT NULL,
  llenos       NUMBER DEFAULT 0 NOT NULL,
  vacios       NUMBER DEFAULT 0 NOT NULL,
  fecha_actualizacion TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
  CONSTRAINT pk_stock_ubicacion PRIMARY KEY (id_ubicacion, id_producto)
);

CREATE TABLE movimiento_stock (
  id_mov             NUMBER GENERATED BY DEFAULT AS IDENTITY,
  fecha              TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
  tipo               VARCHAR2(20) NOT NULL CHECK (tipo IN ('COMPRA','VENTA','TRASLADO','AJUSTE','CONTEO')),
  id_ubicacion_desde NUMBER,
  id_ubicacion_hasta NUMBER,
  id_producto        NUMBER NOT NULL,
  cantidad           NUMBER NOT NULL,
  es_lleno           CHAR(1) DEFAULT 'S' NOT NULL CHECK (es_lleno IN ('S','N')),
  ref_tipo           VARCHAR2(30),
  ref_id             NUMBER,
  observacion        VARCHAR2(200),
  CONSTRAINT pk_movimiento_stock PRIMARY KEY (id_mov)
);

ALTER TABLE stock_ubicacion ADD CONSTRAINT fk_stock_ubi__ubicacion FOREIGN KEY (id_ubicacion) REFERENCES ubicacion(id_ubicacion);
ALTER TABLE stock_ubicacion ADD CONSTRAINT fk_stock_ubi__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

ALTER TABLE movimiento_stock ADD CONSTRAINT fk_mov_stock__ubi_desde FOREIGN KEY (id_ubicacion_desde) REFERENCES ubicacion(id_ubicacion);
ALTER TABLE movimiento_stock ADD CONSTRAINT fk_mov_stock__ubi_hasta FOREIGN KEY (id_ubicacion_hasta) REFERENCES ubicacion(id_ubicacion);
ALTER TABLE movimiento_stock ADD CONSTRAINT fk_mov_stock__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

CREATE INDEX ix_mov_stock__tipo_fecha ON movimiento_stock (tipo, fecha);
CREATE INDEX ix_mov_stock__id_producto ON movimiento_stock (id_producto);
CREATE INDEX ix_mov_stock__id_ubi_desde ON movimiento_stock (id_ubicacion_desde);
CREATE INDEX ix_mov_stock__id_ubi_hasta ON movimiento_stock (id_ubicacion_hasta);

MERGE INTO ubicacion u
USING (
  SELECT 'BODEGA 1' AS nombre, 'BODEGA' AS tipo FROM dual UNION ALL
  SELECT 'LOCAL'    AS nombre, 'LOCAL'  AS tipo FROM dual UNION ALL
  SELECT 'CAMIONETA' AS nombre, 'CAMIONETA' AS tipo FROM dual UNION ALL
  SELECT 'FAMILIAR' AS nombre, 'FAMILIAR' AS tipo FROM dual
) s
ON (u.nombre = s.nombre)
WHEN NOT MATCHED THEN
  INSERT (nombre, tipo, activo) VALUES (s.nombre, s.tipo, 'S');

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('021-core-ubicaciones-inventario', 'sgbd', 'liquibase/changelog/021-core-ubicaciones-inventario.xml', SYSTIMESTAMP, 22, '9:d1c41aee4ffb7e549986062f046583c5', 'sqlFile path=../../ddl/021_core_ubicaciones_inventario.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/022-conteos-diarios.xml::022-conteos-diarios::sgbd
-- Conteos diarios de inventario

CREATE TABLE conteo_inv_cab (
  id_conteo    NUMBER GENERATED BY DEFAULT AS IDENTITY,
  fecha        DATE     NOT NULL,
  hora         VARCHAR2(8) NOT NULL,
  id_ubicacion NUMBER   NOT NULL,
  responsable  VARCHAR2(100),
  confirmado   CHAR(1) DEFAULT 'N' NOT NULL CHECK (confirmado IN ('S','N')),
  creado_por   VARCHAR2(30),
  creado_en    TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
  CONSTRAINT pk_conteo_inv_cab PRIMARY KEY (id_conteo)
);

ALTER TABLE conteo_inv_cab ADD CONSTRAINT fk_conteo_cab__ubicacion FOREIGN KEY (id_ubicacion) REFERENCES ubicacion(id_ubicacion);

CREATE TABLE conteo_inv_det (
  id_conteo   NUMBER NOT NULL,
  id_producto NUMBER NOT NULL,
  llenos      NUMBER DEFAULT 0 NOT NULL,
  vacios      NUMBER DEFAULT 0 NOT NULL,
  CONSTRAINT pk_conteo_inv_det PRIMARY KEY (id_conteo, id_producto)
);

ALTER TABLE conteo_inv_det ADD CONSTRAINT fk_conteo_det__cab FOREIGN KEY (id_conteo) REFERENCES conteo_inv_cab(id_conteo) ON DELETE CASCADE;
ALTER TABLE conteo_inv_det ADD CONSTRAINT fk_conteo_det__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

BEGIN
  EXECUTE IMMEDIATE 'DROP PROCEDURE pr_conteo_confirmar';
EXCEPTION
  WHEN OTHERS THEN
    IF SQLCODE != -4043 THEN RAISE; END IF;
END;

CREATE OR REPLACE PROCEDURE pr_conteo_confirmar(p_id_conteo IN NUMBER) IS
  v_id_ubicacion ubicacion.id_ubicacion%TYPE;
  v_confirmado  conteo_inv_cab.confirmado%TYPE;
BEGIN
  SELECT id_ubicacion, confirmado
    INTO v_id_ubicacion, v_confirmado
    FROM conteo_inv_cab
   WHERE id_conteo = p_id_conteo
   FOR UPDATE;

  IF v_confirmado = 'S' THEN
    RETURN;
  END IF;

  FOR r IN (
    SELECT d.id_producto,
           d.llenos,
           d.vacios,
           NVL(s.llenos,0) AS llenos_actual,
           NVL(s.vacios,0) AS vacios_actual
      FROM conteo_inv_det d
      LEFT JOIN stock_ubicacion s
        ON s.id_ubicacion = v_id_ubicacion
       AND s.id_producto  = d.id_producto
     WHERE d.id_conteo = p_id_conteo
  ) LOOP
    -- diferencia entre conteo y stock actual
    DECLARE
      v_diff_llenos NUMBER := r.llenos - r.llenos_actual;
      v_diff_vacios NUMBER := r.vacios - r.vacios_actual;
    BEGIN
      MERGE INTO stock_ubicacion su
      USING dual
         ON (su.id_ubicacion = v_id_ubicacion AND su.id_producto = r.id_producto)
      WHEN MATCHED THEN
        UPDATE SET su.llenos = r.llenos,
                   su.vacios = r.vacios,
                   su.fecha_actualizacion = SYSTIMESTAMP
      WHEN NOT MATCHED THEN
        INSERT (id_ubicacion, id_producto, llenos, vacios, fecha_actualizacion)
        VALUES (v_id_ubicacion, r.id_producto, r.llenos, r.vacios, SYSTIMESTAMP);

      IF v_diff_llenos <> 0 THEN
        INSERT INTO movimiento_stock (fecha, tipo, id_ubicacion_desde, id_ubicacion_hasta,
                                      id_producto, cantidad, es_lleno, ref_tipo, ref_id)
        VALUES (SYSTIMESTAMP, 'CONTEO', v_id_ubicacion, v_id_ubicacion,
                r.id_producto, v_diff_llenos, 'S', 'CONTEO_INV', p_id_conteo);
      END IF;

      IF v_diff_vacios <> 0 THEN
        INSERT INTO movimiento_stock (fecha, tipo, id_ubicacion_desde, id_ubicacion_hasta,
                                      id_producto, cantidad, es_lleno, ref_tipo, ref_id)
        VALUES (SYSTIMESTAMP, 'CONTEO', v_id_ubicacion, v_id_ubicacion,
                r.id_producto, v_diff_vacios, 'N', 'CONTEO_INV', p_id_conteo);
      END IF;
    END;
  END LOOP;

  UPDATE conteo_inv_cab
     SET confirmado = 'S'
   WHERE id_conteo = p_id_conteo;
END;

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('022-conteos-diarios', 'sgbd', 'liquibase/changelog/022-conteos-diarios.xml', SYSTIMESTAMP, 23, '9:0f3fbe175bfc9152652417a6379f66db', 'sqlFile path=../../ddl/022_conteos_diarios.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/023-pendientes-vacio.xml::023-pendientes-vacio::sgbd
-- Pendientes de devoluci├│n de vac├¡o

CREATE TABLE pendiente_vacio (
  id_pend      NUMBER GENERATED BY DEFAULT AS IDENTITY,
  id_cliente   NUMBER NOT NULL,
  id_producto  NUMBER NOT NULL,
  cantidad     NUMBER NOT NULL,
  fecha_entrega DATE,
  resuelto     CHAR(1) DEFAULT 'N' NOT NULL CHECK (resuelto IN ('S','N')),
  observacion  VARCHAR2(200),
  CONSTRAINT pk_pendiente_vacio PRIMARY KEY (id_pend)
);

ALTER TABLE pendiente_vacio ADD CONSTRAINT fk_pend_vacio__cliente FOREIGN KEY (id_cliente) REFERENCES cliente(id_cliente);
ALTER TABLE pendiente_vacio ADD CONSTRAINT fk_pend_vacio__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

CREATE OR REPLACE VIEW v_pendiente_vacio_activo AS
SELECT p.*
FROM pendiente_vacio p
WHERE p.resuelto = 'N';


-- Changeset liquibase/changelog/024-compras.xml::024-compras::sgbd
-- Compras

CREATE TABLE compra (
  id_compra NUMBER GENERATED BY DEFAULT AS IDENTITY,
  nro_pedido  VARCHAR2(40),
  nro_factura VARCHAR2(40),
  forma_pago  VARCHAR2(30),
  id_proveedor NUMBER NOT NULL,
  fecha DATE DEFAULT TRUNC(SYSDATE) NOT NULL,
  id_ubicacion_destino NUMBER NOT NULL,
  subtotal NUMBER,
  iva NUMBER,
  total NUMBER,
  CONSTRAINT pk_compra PRIMARY KEY (id_compra)
);

ALTER TABLE compra ADD CONSTRAINT fk_compra__proveedor FOREIGN KEY (id_proveedor) REFERENCES proveedor(id_proveedor);

ALTER TABLE compra ADD CONSTRAINT fk_compra__ubic_dest FOREIGN KEY (id_ubicacion_destino) REFERENCES ubicacion(id_ubicacion);

CREATE TABLE compra_det (
  id_compra NUMBER NOT NULL,
  id_producto NUMBER NOT NULL,
  cantidad NUMBER NOT NULL,
  costo_unit_con_iva NUMBER,
  costo_unit_sin_iva NUMBER,
  CONSTRAINT pk_compra_det PRIMARY KEY (id_compra, id_producto)
);

ALTER TABLE compra_det ADD CONSTRAINT fk_compra_det__compra FOREIGN KEY (id_compra) REFERENCES compra(id_compra) ON DELETE CASCADE;

ALTER TABLE compra_det ADD CONSTRAINT fk_compra_det__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

CREATE INDEX ix_compra__nro_pedido ON compra (nro_pedido);

CREATE INDEX ix_compra__nro_factura ON compra (nro_factura);

BEGIN
  EXECUTE IMMEDIATE 'DROP PROCEDURE pr_registrar_compra';
EXCEPTION
  WHEN OTHERS THEN
    IF SQLCODE != -4043 THEN RAISE; END IF;

END;

CREATE OR REPLACE PROCEDURE pr_registrar_compra(p_id_compra IN NUMBER) IS
  v_dest NUMBER;

BEGIN
  SELECT id_ubicacion_destino INTO v_dest
    FROM compra
   WHERE id_compra = p_id_compra;

  FOR r IN (
    SELECT id_producto, cantidad
      FROM compra_det
     WHERE id_compra = p_id_compra
  ) LOOP
    MERGE INTO stock_ubicacion su
    USING dual
      ON (su.id_ubicacion = v_dest AND su.id_producto = r.id_producto)
    WHEN MATCHED THEN
      UPDATE SET su.llenos = su.llenos + r.cantidad,
                 su.fecha_actualizacion = SYSTIMESTAMP
    WHEN NOT MATCHED THEN
      INSERT (id_ubicacion, id_producto, llenos, vacios, fecha_actualizacion)
      VALUES (v_dest, r.id_producto, r.cantidad, 0, SYSTIMESTAMP);

    INSERT INTO movimiento_stock (fecha, tipo, id_ubicacion_hasta, id_producto, cantidad, es_lleno, ref_tipo, ref_id)
    VALUES (SYSTIMESTAMP, 'COMPRA', v_dest, r.id_producto, r.cantidad, 'S', 'COMPRA', p_id_compra);
  END LOOP;

END;

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('024-compras', 'sgbd', 'liquibase/changelog/024-compras.xml', SYSTIMESTAMP, 25, '9:33c4690ef0b072545f42bbc46672b860', 'sqlFile path=../../ddl/024_compras.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/025-ventas-ubicacion.xml::025-ventas-ubicacion::sgbd
-- Ventas con origen de ubicacion

DECLARE
  v_local_id NUMBER;

BEGIN
  SELECT id_ubicacion INTO v_local_id FROM ubicacion WHERE nombre = 'LOCAL';

  BEGIN
    EXECUTE IMMEDIATE 'ALTER TABLE boleta_venta ADD (origen_ubicacion NUMBER)';
  EXCEPTION
    WHEN OTHERS THEN
      IF SQLCODE != -1430 THEN RAISE; END IF;
  END;

UPDATE boleta_venta SET origen_ubicacion = v_local_id WHERE origen_ubicacion IS NULL;

BEGIN
    EXECUTE IMMEDIATE 'ALTER TABLE boleta_venta MODIFY (origen_ubicacion NUMBER DEFAULT '||v_local_id||' NOT NULL)';
  EXCEPTION
    WHEN OTHERS THEN
      IF SQLCODE != -1442 THEN RAISE; END IF;

END;

BEGIN
    EXECUTE IMMEDIATE 'ALTER TABLE boleta_venta ADD CONSTRAINT fk_boleta__origen_ubi FOREIGN KEY (origen_ubicacion) REFERENCES ubicacion(id_ubicacion)';
  EXCEPTION
    WHEN OTHERS THEN
      IF SQLCODE != -2275 THEN RAISE; END IF;

END;

END;

BEGIN
  EXECUTE IMMEDIATE 'DROP PROCEDURE pr_registrar_venta';
EXCEPTION
  WHEN OTHERS THEN
    IF SQLCODE != -4043 THEN RAISE; END IF;

END;

CREATE OR REPLACE PROCEDURE pr_registrar_venta(p_id_boleta IN NUMBER) IS
  v_origen   NUMBER;

v_cliente  NUMBER;

BEGIN
  SELECT origen_ubicacion, id_cliente
    INTO v_origen, v_cliente
    FROM boleta_venta
   WHERE id_boleta = p_id_boleta;

  FOR r IN (
    SELECT id_producto, cantidad
      FROM boleta_venta_detalle
     WHERE id_boleta = p_id_boleta
  ) LOOP
    MERGE INTO stock_ubicacion su
    USING dual
      ON (su.id_ubicacion = v_origen AND su.id_producto = r.id_producto)
    WHEN MATCHED THEN
      UPDATE SET su.llenos = su.llenos - r.cantidad,
                 su.fecha_actualizacion = SYSTIMESTAMP
    WHEN NOT MATCHED THEN
      INSERT (id_ubicacion, id_producto, llenos, vacios, fecha_actualizacion)
      VALUES (v_origen, r.id_producto, -r.cantidad, 0, SYSTIMESTAMP);

    INSERT INTO movimiento_stock (fecha, tipo, id_ubicacion_desde, id_producto, cantidad, es_lleno, ref_tipo, ref_id)
    VALUES (SYSTIMESTAMP, 'VENTA', v_origen, r.id_producto, r.cantidad, 'S', 'VENTA', p_id_boleta);

    IF v_cliente IS NOT NULL THEN
      INSERT INTO pendiente_vacio (id_cliente, id_producto, cantidad, fecha_entrega)
      VALUES (v_cliente, r.id_producto, r.cantidad, TRUNC(SYSDATE));
    END IF;

END LOOP;

END;

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('025-ventas-ubicacion', 'sgbd', 'liquibase/changelog/025-ventas-ubicacion.xml', SYSTIMESTAMP, 26, '9:5f311bb61dc8454059e7e1ea25bb3c8c', 'sqlFile path=../../ddl/025_ventas_ubicacion.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Changeset liquibase/changelog/026-caja-cuentas.xml::026-caja-cuentas::sgbd
-- Caja y cuentas

CREATE TABLE caja_mov (
  id          NUMBER GENERATED BY DEFAULT AS IDENTITY,
  fecha       TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
  tipo        VARCHAR2(10) NOT NULL CHECK (tipo IN ('INGRESO','EGRESO')),
  medio_pago  VARCHAR2(15) NOT NULL CHECK (medio_pago IN ('EFECTIVO','TRANSFERENCIA','TARJETA')),
  monto       NUMBER(14,2) NOT NULL,
  ref_tipo    VARCHAR2(30),
  ref_id      NUMBER,
  observacion VARCHAR2(200),
  CONSTRAINT pk_caja_mov PRIMARY KEY (id)
);

CREATE TABLE cuenta_corriente (
  id     NUMBER GENERATED BY DEFAULT AS IDENTITY,
  banco  VARCHAR2(60) NOT NULL,
  numero VARCHAR2(60) NOT NULL,
  saldo  NUMBER(14,2) DEFAULT 0 NOT NULL,
  CONSTRAINT pk_cuenta_corriente PRIMARY KEY (id)
);

CREATE TABLE cta_cobrar (
  id_cc           NUMBER GENERATED BY DEFAULT AS IDENTITY,
  id_cliente      NUMBER NOT NULL,
  nro_factura     VARCHAR2(40),
  fecha_venta     DATE NOT NULL,
  plazo_dias      NUMBER DEFAULT 0 NOT NULL,
  direccion       VARCHAR2(200),
  telefono        VARCHAR2(60),
  monto_total     NUMBER(14,2) NOT NULL,
  saldo_pendiente NUMBER(14,2) NOT NULL,
  estado          VARCHAR2(10) DEFAULT 'ABIERTA' NOT NULL CHECK (estado IN ('ABIERTA','PAGADA','VENCIDA')),
  CONSTRAINT pk_cta_cobrar PRIMARY KEY (id_cc)
);

CREATE TABLE epp_mov (
  id        NUMBER GENERATED BY DEFAULT AS IDENTITY,
  fecha     TIMESTAMP DEFAULT SYSTIMESTAMP NOT NULL,
  empleado  VARCHAR2(100) NOT NULL,
  recurso   VARCHAR2(100) NOT NULL,
  cantidad  NUMBER NOT NULL,
  tipo      VARCHAR2(10) NOT NULL CHECK (tipo IN ('ENTREGA','DEVOLUCION')),
  CONSTRAINT pk_epp_mov PRIMARY KEY (id)
);

ALTER TABLE cta_cobrar ADD CONSTRAINT fk_cta_cobrar__cliente FOREIGN KEY (id_cliente) REFERENCES cliente(id_cliente);

CREATE VIEW v_caja_saldo AS
SELECT medio_pago,
       SUM(CASE WHEN tipo = 'INGRESO' THEN monto ELSE -monto END) saldo
FROM caja_mov
GROUP BY medio_pago;

CREATE VIEW v_cta_cobrar_saldo AS
SELECT id_cliente,
       SUM(saldo_pendiente) saldo
FROM cta_cobrar
GROUP BY id_cliente;


-- Changeset liquibase/changelog/027-lista-precios.xml::027-lista-precios::sgbd
-- Lista de precios

CREATE TABLE lista_precio (
  id_lista      NUMBER GENERATED BY DEFAULT AS IDENTITY,
  nombre        VARCHAR2(100) NOT NULL,
  vigente_desde DATE NOT NULL,
  vigente_hasta DATE,
  CONSTRAINT pk_lista_precio PRIMARY KEY (id_lista),
  CONSTRAINT uq_lista_precio__nombre UNIQUE (nombre)
);

CREATE TABLE lista_precio_det (
  id_lista      NUMBER NOT NULL,
  id_producto   NUMBER NOT NULL,
  precio_con_iva NUMBER(14,2) NOT NULL,
  CONSTRAINT pk_lista_precio_det PRIMARY KEY (id_lista, id_producto)
);

ALTER TABLE lista_precio_det ADD CONSTRAINT fk_lpd__lista FOREIGN KEY (id_lista) REFERENCES lista_precio(id_lista);

ALTER TABLE lista_precio_det ADD CONSTRAINT fk_lpd__producto FOREIGN KEY (id_producto) REFERENCES producto(id_producto);

MERGE INTO lista_precio lp
USING (SELECT 1 AS id_lista, 'BASE 2025' AS nombre FROM dual) s
ON (lp.id_lista = s.id_lista)
WHEN NOT MATCHED THEN
  INSERT (id_lista, nombre, vigente_desde) VALUES (s.id_lista, s.nombre, DATE '2025-01-01');

MERGE INTO lista_precio_det lpd
USING (
  SELECT 1 AS id_lista, id_producto, precio AS precio_con_iva
  FROM producto
) s
ON (lpd.id_lista = s.id_lista AND lpd.id_producto = s.id_producto)
WHEN NOT MATCHED THEN
  INSERT (id_lista, id_producto, precio_con_iva) VALUES (s.id_lista, s.id_producto, s.precio_con_iva);

MERGE INTO parametro_sistema ps
USING (SELECT 'PRECIO_LISTA_ACTIVA_ID' AS nombre, '1' AS valor FROM dual) s
ON (ps.nombre = s.nombre)
WHEN NOT MATCHED THEN
  INSERT (nombre, valor) VALUES (s.nombre, s.valor)
WHEN MATCHED THEN
  UPDATE SET valor = s.valor;

CREATE OR REPLACE VIEW v_precio_actual AS
SELECT p.id_producto,
       p.sku,
       p.nombre,
       d.precio_con_iva
FROM producto p
JOIN lista_precio_det d ON d.id_producto = p.id_producto
JOIN lista_precio lp ON lp.id_lista = d.id_lista
WHERE lp.id_lista = (SELECT TO_NUMBER(valor) FROM parametro_sistema WHERE nombre = 'PRECIO_LISTA_ACTIVA_ID');


-- Changeset liquibase/changelog/028-geo-clientes.xml::028-geo-clientes::sgbd
-- Geolocalizaci├│n de clientes

ALTER TABLE cliente ADD (lat NUMBER(9,6));

ALTER TABLE cliente ADD (lng NUMBER(9,6));

ALTER TABLE cliente ADD (geo_precision VARCHAR2(30));

ALTER TABLE cliente ADD (geo_at TIMESTAMP);

CREATE OR REPLACE PROCEDURE pr_upd_geocoords(
  p_id_cliente IN cliente.id_cliente%TYPE,
  p_lat        IN NUMBER,
  p_lng        IN NUMBER,
  p_precision  IN VARCHAR2
) AS
BEGIN
  UPDATE cliente
  SET lat = p_lat,
      lng = p_lng,
      geo_precision = p_precision,
      geo_at = SYSTIMESTAMP
  WHERE id_cliente = p_id_cliente;
END;

CREATE OR REPLACE PROCEDURE pr_export_clientes_geo(
  p_filename IN VARCHAR2 DEFAULT 'clientes_geo.csv'
) IS
  f UTL_FILE.FILE_TYPE;

BEGIN
  f := UTL_FILE.FOPEN('EXPORT_DIR', p_filename, 'w', 32767);
  UTL_FILE.PUT_LINE(f, 'rut,nombre,direccion,telefono,lat,lng');
  FOR r IN (
    SELECT c.rut, c.nombre, c.direccion, c.telefono, c.lat, c.lng
    FROM cliente c
  ) LOOP
    UTL_FILE.PUT_LINE(f,
      csv_str(r.rut) || ',' ||
      csv_str(r.nombre) || ',' ||
      csv_str(r.direccion) || ',' ||
      csv_str(r.telefono) || ',' ||
      csv_num(r.lat) || ',' ||
      csv_num(r.lng)
    );
  END LOOP;

UTL_FILE.FCLOSE(f);

END;

-- SHOW ERRORS; (removido);

INSERT INTO APP_PYME.DATABASECHANGELOG (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('028-geo-clientes', 'sgbd', 'liquibase/changelog/028-geo-clientes.xml', SYSTIMESTAMP, 29, '9:83388bad806dc97fd95c0a0149afc600', 'sqlFile path=../../ddl/028_geo_clientes.sql', '', 'EXECUTED', NULL, NULL, '4.33.0', '5569508040');

-- Release Database Lock
UPDATE APP_PYME.DATABASECHANGELOGLOCK SET LOCKED = 0, LOCKEDBY = NULL, LOCKGRANTED = NULL WHERE ID = 1;

