.root {
    -fx-padding: 20;
    -fx-background-color: #f2f2f2;
}

.button {
    -fx-background-color: #F47C21;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: white;
}
